.message {
    /*border: 1px solid #4ef5db;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    margin-top: 24px;
    margin-right: 70px;
    margin-left: 70px;
}

.imageAndText {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    /*border: 1px solid green;*/
    align-items: flex-end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin-left: 25px;
}

.text {
    /*border: 1px solid #32ee32;*/
    color: white;
    background-color: #06C;
    border-radius: 10px;

}

.text:after {
    content: '';
    display: inline-block;
    /*position: relative;*/
    /*border-bottom: 40px solid #0066CCFF;*/
    /*border-right: 40px solid transparent;*/
    /*left: 420px;*/
    /*top: 4px*/
}

.name {
    text-align: right;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 7px;
    margin-right: 13px;
    margin-left: 13px;
}

.messageText {
    max-width: 500px;
    width: fit-content;
    height: fit-content;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 3px 13px 8px 13px;

}

.time {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /*border: 1px solid red;*/
    margin: 5px 10px 0 10px;
}