.input:focus {
}

.input {
    outline: #00cc22;
    border: 1px  solid blueviolet;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
  color: #cc0000;
}
