.sendForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-right: 70px;*/
    /*margin-left: 70px;*/
    margin-bottom: 35px;
    margin-top: 73px;
    height: 40px;
    /*border: 1px solid violet;*/
}

.textarea {
    display: inline-block;
    height: 40px;
    width: 976px;
    border: 1px solid rgba(150, 150, 150, 0);
    border-radius: 20px;
    background: #F5F7FB;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);
    color: rgba(0, 0, 0, 0.60);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px 0 11px 24px;
    overflow: hidden;
    outline: none;
    margin-left: 0;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #06C;
    color: white;
    border: none;
    font-family: Montserrat, sans-serif;
}

.button:hover {
    background: rgba(0, 102, 204, 0);
    border: 2px solid #06c;
    color: #06c;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.button:active {
    background: rgba(0, 102, 204, 0);
    border: 2px solid #a7a7a8;
    color: #06c;
}
