.select {
    max-width: 127px;
    height: 24px;
    margin: 0 5px;
    color: #000;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wrapper {
    margin-top: 10px;
    margin-bottom: 220px;
}

.select:focus {
  outline: 2px solid #7ca9f3;
    border-radius: 1px;
 }


.option:hover {
    color: #212A34;
}
