.container {
    margin-top: 68px;
}

.wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    border-bottom: 20px;
    margin-top: 20px;
}

.number {
    margin-right: 12px;
}
